.tiptap-editor-wrapper {
  --editor-bg: white;
  --editor-text: black;
  --editor-highlight-bg: #faf594;
  --editor-code-bg: #f6f6f6;
  --editor-code-text: black;
  --editor-blockquote-border: #ccc;
  --editor-hr-border: #eee;

  &[data-theme='dark'] {
    --editor-bg: #1a1a1a;
    --editor-text: white;
    --editor-highlight-bg: #4a4a00;
    --editor-code-bg: #333;
    --editor-code-text: white;
    --editor-blockquote-border: #555;
    --editor-hr-border: #444;
  }
}

.button-group button.is-active {
  background-color: var(--editor-text);
  color: var(--editor-bg);
}

/* Basic editor styles */
.tiptap {
  width: 100%; /* Expand to full width */
  outline: none; /* Remove default focus outline */

  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--editor-code-bg);
    border-radius: 0.4rem;
    color: var(--editor-code-text);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--editor-code-bg);
    border-radius: 0.5rem;
    color: var(--editor-code-text);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  mark {
    background-color: var(--editor-highlight-bg);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  blockquote {
    border-left: 3px solid var(--editor-blockquote-border);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--editor-hr-border);
    margin: 2rem 0;
  }
}
